.input_type{
    /* background-color:lightgray;
    border: 2px solid rgb(218, 215, 215);
    border-radius: 3px; */
    border: 1px solid black;
    padding: 5px 20px;
    margin: 6px 10px;
    border-radius: 999px;
    background-color: white;
    border-radius: 25px;
    width: 500px;
    
}
@media screen and (max-width : 576px)
{
    .input_type{
        width: auto;
    }
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    background-color: rgb(243, 239, 239);
    align-items: center;
    width: 100%;
}

.Addbutton{
    padding: 8px;
    border-radius: 3px;
    border: none;
    background-color: lightblue;
}

